# These owners will be the default owners for everything in the repo
* @alevsk

# Docs related files
/docs/ @alevsk
*.md @alevsk

# Infrastructure files
Dockerfile @alevsk
docker-compose.yml @alevsk
.github/workflows/ @alevsk
