{{ define "main" }}
<article class="post">
  <div class="title-version-wrapper">
    <div class="title-section">
      <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h1>
      {{ $currentPath := .File.Dir }}
      {{ $projectName := index (split .File.Dir "/") 1 }}
      {{ $projectPages := where .Site.RegularPages "File.Dir" (printf "charts/%s/" $projectName) }}
      {{ $sortedVersions := sort $projectPages "Params.version" "desc" }}
      {{ if gt (len $sortedVersions) 1 }}
      <div class="version-selector">
        <select class="version-select" onchange="window.location.href=this.value">
          {{ range $sortedVersions }}
            <option value="{{ .Permalink }}" {{ if eq .Params.version $.Params.version }}selected{{ end }}>
              v{{ .Params.version }}
            </option>
          {{ end }}
        </select>
      </div>
      {{ else }}
      <div class="version-subtitle">v{{ .Params.version }}</div>
      {{ end }}
    </div>
  </div>
  <div class="post-meta">
    {{- if .Date -}}
      <time class="post-date">
        {{- partial "post-date" . -}}
        {{- if and $.Site.Params.showLastUpdated .Lastmod -}}
          &nbsp;{{- partial "post-lastmod" . -}}
        {{- end -}}
      </time>
    {{- end -}}
    {{- with .Params.Author -}}
      <span class="post-author">{{ . }}</span>
    {{- end -}}
    {{- if and (.Param "readingTime") (eq (.Param "readingTime") true) -}}
      <span class="post-reading-time">{{ .ReadingTime }} {{ $.Site.Params.minuteReadingTime | default "min read" }} ({{ .WordCount }} {{ $.Site.Params.words | default "words" }})</span>
    {{- end -}}
  </div>

  {{ if .Params.tags }}
    <div class="tags-list">
      <p>
        {{ range .Params.tags }}
        <a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>
        {{ end }}
      </p>
    </div>
  {{ end }}
  {{ partial "cover.html" . }}

  {{ if (.Params.Toc | default .Site.Params.Toc) }}
    <div class="table-of-contents">
      <h2>
        {{ (.Params.TocTitle | default .Site.Params.TocTitle) | default "Table of Contents" }}
      </h2>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">#</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>

</article>
{{ end }}
