{{ define "main" }}
<div class="terms">
  <h1>{{ .Title }}</h1>
  {{ with .Content }}
  <div class="index-content">{{ . }}</div>
  {{ end }}
  <div class="tags-list">
    {{ $type := .Type }}
    {{ range $key, $value := .Data.Terms.ByCount }}
    {{ $name := .Name }}
    {{ $uniqueCharts := slice }}
    {{ range .Pages }}
    {{ $path := .File.Path }}
    {{ $chartName := index (split $path "/") 1 }}
    {{ if and (not (in $uniqueCharts $chartName)) (ne $chartName "") }}
    {{ $uniqueCharts = $uniqueCharts | append $chartName }}
    {{ end }}
    {{ end }}
    {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
    <a class="terms-title" href="{{ .Permalink }}">{{ .Name }} [{{ len $uniqueCharts }}]</a>
    {{ end }} {{ end }}
  </div>
</div>
{{ end }}
