{{/* Create alphabet pagination */}}
{{/* Build a set of letters that have projects in one pass */}}
{{ $activeLetters := dict }}
{{ range $.GroupedPages }}
{{ range .Params.tags }}
{{ if hasPrefix . "letter-" }}
{{ $activeLetters = merge $activeLetters (dict . true) }}
{{ end }}
{{ end }}
{{ end }}

<div class="alphabet-pagination">
  <a href="/"
     class="letter-link {{ if eq $.RelPermalink "/" }}active{{ end }}">All</a>
  {{ $alphabet := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}
  {{ range $letter := $alphabet }}
  {{ $tagKey := printf "letter-%s" $letter }}
  {{ if index $activeLetters $tagKey }}
  <a href="/tags/letter-{{ lower $letter }}/" class="letter-link">{{ $letter }}</a>
{{ else }}
  <span class="letter-link disabled">{{ $letter }}</span>
  {{ end }}
  {{ end }}
</div>
