<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="{{ .Site.BaseURL }}" class="logo">
        <div class="logo-icon">
          <i class="fas fa-compass"></i>
        </div>
        <div class="logo-text">
          <div class="title">
            <span class="title-line">RBAC</span>
            <span class="title-line">ATLAS</span>
          </div>
          <span class="tagline">A CURATED INDEX OF RBAC POLICIES IN K8S</span>
        </div>
      </a>
    </div>
    {{ if len $.Site.Menus }}
      {{ partial "mobile-menu.html" . }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
      {{ partial "language-menu.html" . }}
    {{ end }}
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}
</header>
